<body>
    <header class="container-fluid nav01 navbar-expand-lg fixed-top cont ">
        <!-- LOGO -->
        <div class="box box-1 logo">
            <a href="#" class="navbar-brand brand-img logo1"><img class="logo_imagem"
                    src="assets/img/01_img01_nav_logo.png" alt="logo" width="100"></a>
        </div>
        <!-- CAMPO DE PESQUISA -->
        <div class="box box-2 pesquisa">
            <div class="botao_pesquisa">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false"
                    aria-label="Alterna navegação">
                    <img class="menu-icon" src="assets/img/01_img02_nav_menuBar.jpg" alt="">
                </button>
                <input class="campo-pesquisa" type="text" placeholder="Busque por equipamentos, consoles e muito mais!">
                <button class="btn btn-outline-danger botao-pesquisa"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></button>
            </div>
        </div>
        <!-- CAMPO PARA LOGIN, CARRINHO  E FAVORITOS -->
        <div class="box box-3 login_favoritos">
            <div class="d-flex login_">
                <!-- LOGIN -->
                <ul class="botao-login">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown">
                            <img class="login" src="assets/img/01_img03_nav_login.png" width="40" height="40"
                                alt="Login" data-toggle="tooltip" data-placement="top" title="Login">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Criar conta</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="Pages/login.html">Entrar</a>
                        </div>
                    </li>
                </ul>
                <!-- CARRINHO -->
                <div class="carrinho">
                    <a href="#" class="d-flex align-items-center justify-content-center item_log"><img
                            class="login item_log2" src="assets/img/01_img04_nav_carrinho.png" alt="Carrinho"
                            title="Carrinho" data-toggle="tooltip"></a>
                    <div id="conteudo-carrinho">

                    </div>
                </div>
                <!-- FAVORITOS -->
                <div class="favoritos">
                    <a href="#" class="d-flex align-items-center justify-content-center item_log item_log3"><img
                            class="login item_log3" src="assets/img/01_img04_nav_favoritos.png" alt="Favoritos"
                            title="Favoritos" data-toggle="tooltip"></a>
                    <div id="conteudo-favoritos">

                    </div>
                </div>


            </div>
        </div>
        <!-- BARRA DE NAVEGAÇÃO -->
        <div class="box box-4 barra_navegacao container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary-color nav02">
                <!-- para agrupar e esconder conteúdos navbar, de acordo com o breakpoint do pai. -->
                <nav class="collapse navbar-collapse lista nav-itens" id="conteudoNavbarSuportado">
                    <!-- Navbar itens-->
                    <ul class="navbar-nav mr-auto container">
                        <div class="d-flex login_ login-783">
                            <!-- LOGIN -->
                            <div class="item-783">
                                <a href="#" class="d-flex align-items-center justify-content-center item_log"><img
                                        class="login item_log1" src="assets/img/01_img03_nav_login.png" alt=""></a>
                                <label for="item_log">Login</label>
                            </div>
                            <!-- CARRINHO -->
                            <div class="item-783">
                                <a href="#" class="d-flex align-items-center justify-content-center item_log"><img
                                        class="login item_log2" src="assets/img/01_img04_nav_carrinho.png" alt=""></a>
                                <label for="item_log">Carrinho</label>
                            </div>
                            <!-- FAVORITOS -->
                            <div class="item-783">
                                <a href="#" class="d-flex align-items-center justify-content-center item_log"><img
                                        class="login item_log3" src="assets/img/01_img04_nav_favoritos.png" alt=""></a>
                                <label for="item_log">Favoritos</label>
                            </div>
                        </div>
                        <!-- Item 1 -->
                        <li class="nav-item-dropdown item_1 item_nav container">
                            <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                NOTEBOOKS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="#" class="dropdown-item">Acer</a>
                                <a href="#" class="dropdown-item">Dell</a>
                                <a href="#" class="dropdown-item">Sansumg</a>
                                <a href="#" class="dropdown-item">Lenovo</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Todos</a>
                            </div>
                        </li>
                        <!-- Item 2 -->
                        <li class="nav-item-dropdown item_2 item_nav container">
                            <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                DESKTOP
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="#" class="dropdown-item">PC básico</a>
                                <a href="#" class="dropdown-item">PC gamer</a>
                                <a href="#" class="dropdown-item">Servidor</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Todos</a>
                            </div>
                        </li>
                        <!-- Item 3 -->
                        <li class="nav-item-dropdown item_nav container">
                            <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CONSOLES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="#" class="dropdown-item">Xbox</a>
                                <a href="#" class="dropdown-item">Playstation</a>
                                <a href="#" class="dropdown-item">Nitendo</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Todos</a>
                            </div>
                        </li>
                        <!-- Item 4 -->
                        <li class="nav-item-dropdown item_nav container">
                            <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ACESSÓRIOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="#" class="dropdown-item">Fone de ouvido headset</a>
                                <a href="#" class="dropdown-item">Teclados</a>
                                <a href="#" class="dropdown-item">Mouse</a>
                                <a href="#" class="dropdown-item">Mousepad</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Todos</a>
                            </div>
                        </li>
                        <!-- Item 5 -->
                        <li class="nav-item-dropdown item_nav container">
                            <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HARDWARE
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="#" class="dropdown-item ii">Placa de vídeo</a>
                                <a href="#" class="dropdown-item">SSD</a>
                                <a href="#" class="dropdown-item">Memória RAM</a>
                                <a href="#" class="dropdown-item iu">Placa-mãe</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Todos</a>
                            </div>
                        </li>
                        <!-- Item 6 -->
                        <li class="nav-item-dropdown item_nav container">
                            <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SMARTPHONES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="#" class="dropdown-item ii">Samsung</a>
                                <a href="#" class="dropdown-item">Motorola</a>
                                <a href="#" class="dropdown-item">Iphone</a>
                                <a href="#" class="dropdown-item iu">Mousepad</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Todos</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>
    </header>
    <!-- Carrossel de imagens -->
    <div class="container-flex carrossel" id="slider-container">
        <div id="slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" class="active" data-bs-target="#slider" data-bs-slide-to="0" aria-current="true"
                    aria-label="Slide 1">
                </button>
                <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2">
                </button>
                <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3">
                </button>
            </div>
            <div class="carousel-inner position-static">
                <!-- Imagem 1 -->
                <div class="carousel-item active">
                    <img class="imagem-carrossel im-fluid" src="assets/img/02_img01_slide1_imagem1.jpg" alt="Imagem 1">
                    <div class="carousel-caption item-texto-carrossel">
                        <h2 class="texto-carrosssel">Infinitos mundos, com tudo o que você precisa para seus jogos!
                        </h2>
                    </div>
                </div>
                <!-- Imagem 2 -->
                <div class="carousel-item">
                    <img class="imagem-carrossel" src="assets/img/02_img02_slide1_imagem2.jpg" alt="Imagem 2">
                    <div class="carousel-caption item-texto-carrossel">
                        <h2 class="texto-carrosssel">Muito além do básico</h2>
                    </div>
                </div>
                <!-- Imagem 3 -->
                <div class="carousel-item">
                    <img class="imagem-carrossel" src="assets/img/02_img03_slide1_imagem3.jpg" alt="Imagem 3">
                    <div class="carousel-caption item-texto-carrossel">
                        <h2 class="texto-carrosssel">O melhor desempenho pelo melhor preço!</h2>
                    </div>
                </div>
                <!-- ----- -->
            </div>
            <!-- Botão esquerdo de carrossel -->
            <button class="carousel-control-prev botao_carrossel botao_carrossel-esquerdo" type="button"
                data-bs-target="#slider" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
                <span class="visually-hidden">Previous</span>
            </button>
            <!-- Botão direito de carrossel -->
            <button class="carousel-control-next botao_carrossel botao_carrossel-direito" type="button"
                data-bs-target="#slider" data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
                <span class="visually-hidden">next</span>
            </button>
        </div>
    </div>
    <!-- BANNER - PROMOÇÕES -->
    <div class="container-flex promocoes">
        <div class="box-promo-box">
            <!-- Título do banner -->
            <div class="box-promo box-promo-titulo">
                <a class="link-promo" href="#">
                    <h3 class="titulo-prom">PROMOÇÕES</h3>
                </a>
            </div>
            <!-- Produto em destaque -->
            <div class="box-promo box-promo-destaque">
                <a class="link-promo" href="#">
                    <h6 class="destaque-texto-promo texto-promo">Smartphone Lenovo Legion Phone Duel 256gb - de R$
                        4.749,00 por R$ 4.000,00! </h6>
                    <img class="img-promo img-destaque" src="assets/img/03_img01_SectionPromocoes_destaque.png"
                        alt="destaque">
                </a>
            </div>
            <!-- Promoção 1 -->
            <div class="box-promo box-promo-item1">
                <a class="link-promo" href="#">
                    <img class="img-promo img-promo-item" src="assets/img/03_img02_SectionPromocoes_promocao01.png"
                        alt="destaque">
                    <label for="" class="texto-promo texto-promo-item">
                        Pc Gamer G-fire HTG-311
                        De ̶R̶$̶ ̶3600,00̶
                        Por R$ 3.000,00
                    </label>
                </a>
            </div>
            <!-- Promoção 2 -->
            <div class="box-promo box-promo-item2">
                <a class="link-promo" href="#">
                    <img class="img-promo img-promo-item" src="assets/img/03_img03_SectionPromocoes_promocao02.png"
                        alt="destaque">
                    <label for="" class="texto-promo texto-promo-item">
                        Headset Gamer JBL Quantum 100 Over Ear Preto
                        De ̶R̶$̶ ̶228,00̶
                        Por R$ 170,00

                    </label>
                </a>
            </div>
            <!-- Promoção 3 -->
            <div class="box-promo box-promo-item3">
                <a class="link-promo" href="#">
                    <img class="img-promo img-promo-item" src="assets/img/03_img04_SectionPromocoes_promocao03.png"
                        alt="destaque">
                    <label for="" class="texto-promo texto-promo-item">
                        Lenovo IdeaPad Gaming 3i 82CGS00100
                        De ̶R̶$̶ ̶4̶.̶4̶5̶9̶,̶0̶0̶
                        Por R$ 3.999,00
                    </label>
                </a>
            </div>
            <!-- Promoção 4 -->
            <div class="box-promo box-promo-item4">
                <a class="link-promo" href="#">
                    <img class="img-promo img-promo-item" src="assets/img/03_img05_SectionPromocoes_promocao04.png"
                        alt="destaque">
                    <label for="" class="texto-promo texto-promo-item">
                        New Nitendo 3ds Xl
                        De R$ 3.647,04 por R$ 3.100,00
                    </label>
                </a>
            </div>
            <!-- Botao ver mais -->
            <div class="box-promo box-promo-botao">
                <a href="#" class="container btn btn-dark btn-vermais">Ver todos</a>
            </div>
        </div>
    </div>
    <!-- SMARTPHONE - CARROSSEL -->
    <div class="container-flex smartphone-slide">
        <div id="smartphones" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="box-smartphone box-smartphone-titulo">
                    <a href="#" style="text-decoration: none;">
                        <h3 class="titulo-smartphone">SMARTPHONES</h3>
                    </a>
                </div>
                <div class="carousel-item active">
                    <div class="box-smartphone-box">
                        <!-- Item 01 -->
                        <div class="container box-smartphone box-smartphone-item1">
                            <a class="smartphone-link-item" href="#">
                                <img class="smartphone-img-item"
                                    src="assets/img/04_img01_carouselSnartphones_phone01.png" alt="">
                                <label class="smartphone-texto-item">
                                    Redmi K40 12GB Ram 256GB
                                    R$ 3.399,00
                                </label>
                            </a>
                        </div>
                        <!-- Item 02 -->
                        <div class="container box-smartphone box-smartphone-item2">
                            <a class="smartphone-link-item" href="#">
                                <img class="smartphone-img-item"
                                    src="assets/img/04_img02_carouselSnartphones_phone02.png" alt="">
                                <label class="smartphone-texto-item">
                                    Poco M4 Pro 5G Smartphone 128GB, 6 GB RAM, Dual Sim
                                    R$ 1.504,00
                                </label>
                            </a>
                        </div>
                        <!-- Item 03 -->
                        <div class="container box-smartphone box-smartphone-item3">
                            <a class="smartphone-link-item" href="#">
                                <img class="smartphone-img-item"
                                    src="assets/img/04_img03_carouselSnartphones_phone03.png" alt="">
                                <label class="smartphone-texto-item">
                                    Smartphone Samsung Galaxy S20 Fe 128GB Cloud Mint 4G 6gb Ram
                                    R$ 1.900,00
                                </label>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box-smartphone-box">
                        <!-- Item 01 -->
                        <div class="container box-smartphone box-smartphone-item1 box-smartphone-item4">
                            <a class="smartphone-link-item" href="#">
                                <img class="smartphone-img-item"
                                    src="assets/img/04_img04_carouselSnartphones_phone04.png" alt="">
                                <label class="smartphone-texto-item">
                                    Smartphone Motorola Moto G100 256GB Luminous Ocean
                                    R$ 1.875,00
                                </label>
                            </a>
                        </div>
                        <!-- Item 02 -->
                        <div class="container box-smartphone box-smartphone-item2 box-smartphone-item5">
                            <a class="smartphone-link-item" href="#">
                                <img class="smartphone-img-item"
                                    src="assets/img/04_img05_carouselSnartphones_phone05.png" alt="">
                                <label class="smartphone-texto-item">
                                    Smartphone Gamer ROG Phone 5s
                                    R$ 4689,00
                                </label>
                            </a>
                        </div>
                        <!-- Item 03 -->
                        <div class="container box-smartphone box-smartphone-item3 box-smartphone-item6">
                            <a class="smartphone-link-item" href="#">
                                <img class="smartphone-img-item"
                                    src="assets/img/04_img06_carouselSnartphones_phone06.png" alt="">
                                <label class="smartphone-texto-item">
                                    Smartphone Samsung Galaxy M52 5G 128GB Branco 6gb Ram R$ 1598,40
                                </label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Botão esquerdo de carrossel -->
            <button class="carousel-control-prev botao-smartphone botao-smartphone-esquerdo" type="button"
                data-bs-target="#smartphones" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
                <span class="visually-hidden">Previous</span>
            </button>
            <!-- Botão direito de carrossel -->
            <button class="carousel-control-next botao-smartphone botao-smartphone-direito" type="button"
                data-bs-target="#smartphones" data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
                <span class="visually-hidden">next</span>
            </button>
            <a href="#" class="container btn btn-dark btn-vermais">Ver todos</a>
        </div>
    </div>
    <!-- BANNER - NOVIDADES -->
    <div class="container-flex novidades-banner">
        <div class="box-novidades-box">
            <!--01 Título -->
            <div class="box-novidades box-novidades-titulo">
                <a href="#" style="text-decoration: none;">
                    <h3 class="titulo-novidades">NOVIDADES</h3>
                </a>
            </div>
            <!--02 Destaque -->
            <div class="box-novidades box-novidades-destaque">
                <a class="link-novidades" href="#">
                    <label for="" class="texto-novidades texto-novidades-destaque">
                        Console Xbox Series X 1 TB Microsoft
                        R$ 5400
                    </label>
                    <img class="img-novidades img-novidades-destaque"
                        src="assets/img/05_img01_SectionNovidades_destaque.webp" alt="destaque">
                </a>
            </div>
            <!-- 03  item1-->
            <div class="box-novidades box-novidades-item1">
                <a class="link-novidades" href="#">
                    <img class="img-novidades img-novidades-item" src="assets/img/05_img02_SectionNovidades_img01.png"
                        alt="item1">
                    <label for="" class="texto-novidades">
                        PC Gamer Neologic X
                        R$ 6.500,00
                    </label>
                </a>
            </div>
            <!-- 04  item2-->
            <div class="box-novidades box-novidades-item2">
                <a class="link-novidades" href="#">
                    <img class="img-novidades img-novidades-item" src="assets/img/05_img03_SectionNovidades_img02.png"
                        alt="item2">
                    <label for="" class="texto-novidades">
                        Acer Aspire Nitro 5 AN515-54-528V
                        R$ 10.00,43
                    </label>
                </a>
            </div>
            <!-- 05  item3-->
            <div class="box-novidades box-novidades-item3">
                <a class="link-novidades" href="#">
                    <img class="img-novidades img-novidades-item" src="assets/img/05_img04_SectionNovidades_img03.png"
                        alt="item3">
                    <label for="" class="texto-novidades">
                        Notebook gamer Dell G15 G15-a0700-MM20P
                        R$ 7.897,33
                    </label>
                </a>
            </div>
            <!-- 06  item4-->
            <div class="box-novidades box-novidades-item4">
                <a class="link-novidades" href="#">
                    <img class="img-novidades img-novidades-item" src="assets/img/05_img05_SectionNovidades_img04.png"
                        alt="item4">
                    <label for="" class="texto-novidades">
                        Mini Tower Ultra
                        R$ R$ 1.550,00
                    </label>
                </a>
            </div>
            <div class="box-novidades box-novidades-botao">
                <a href="#" class="container btn btn-dark btn-vermais">Ver todos</a>
            </div>
        </div>
    </div>
    <!-- ACESSÓRIOS -->
    <div class="container-flex acessorios-slide">
        <div id="acessorios" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators indicadores-slide indicadores-acessorios">
                <button type="button" class="active" data-bs-target="#acessorios" data-bs-slide-to="0"
                    aria-current="true" aria-label="Slide 1">
                </button>
                <button type="button" data-bs-target="#acessorios" data-bs-slide-to="1" aria-label="Slide 2">
                </button>
            </div>
            <div class="carousel-inner">
                <div class="box-acessorios-titulo">
                    <a href="#" style="text-decoration: none;">
                        <h3 class="titulo-acessorios">ACESSÓRIOS</h3>
                    </a>
                </div>
                <div class="carousel-item active">
                    <div class="box-acessorios-box">
                        <!-- Item 1 -->
                        <div class="box-acessorios box-acessorios-item1">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Teclado Mecânico Gamer Redragon Kumara Vermelho Switch Blue
                                    R$ 250,00
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img01_carouselAcessorios_img01.webp"
                                    alt="">
                            </a>
                        </div>
                        <!-- Item 2 -->
                        <div class="box-acessorios box-acessorios-item2">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    THeadset Gamer Mancer Twilight, RGB, R$ 115,00
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img02_carouselAcessorios_img02.png" alt="">
                            </a>
                        </div>
                        <!-- Item 3 -->
                        <div class="box-acessorios box-acessorios-item3">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Mouse Gamer Redragon 7200DPI, RGB, Griffin - M607
                                    R$ 100,00
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img03_carouselAcessorios_img03.webp"
                                    alt="">
                            </a>
                        </div>
                        <!-- Item 4 -->
                        <div class="box-acessorios box-acessorios-item4">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Controle Sem Fio Sony Dualshock 4 metalico PS4
                                    R$ 175,50
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img04_carouselAcessorios_img04.jpg" alt="">
                            </a>
                        </div>
                        <!-- Item 5 -->
                        <div class="box-acessorios box-acessorios-item5">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Mouse Pad Gamer Extra Grande RGB
                                    R$ 145,80
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img05_carouselAcessorios_img05.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box-acessorios-box">
                        <!-- Item 1 -->
                        <div class="box-acessorios box-acessorios-item1">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Volante Logitech Driving Force G29 R$ 1459,90
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img06_carouselAcessorios_img06.webp"
                                    alt="">
                            </a>
                        </div>
                        <!-- Item 2 -->
                        <div class="box-acessorios box-acessorios-item2">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Mochila Para Notebook Dell Gaming 17 R$ 268,00
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img07_carouselAcessorios_img07.webp"
                                    alt="">
                            </a>
                        </div>
                        <!-- Item 3 -->
                        <div class="box-acessorios box-acessorios-item3">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Controle de Game sem fio, para Android, iPhone R$ 150,00
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img08_carouselAcessorios_img08.png" alt="">
                            </a>
                        </div>
                        <!-- Item 4 -->
                        <div class="box-acessorios box-acessorios-item4">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Microfone Redragon Gamer Seyfert Gm100 R$ 215,55
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img09_carouselAcessorios_img09.webp"
                                    alt="">
                            </a>
                        </div>
                        <!-- Item 5 -->
                        <div class="box-acessorios box-acessorios-item5">
                            <a class="acessorios-link-item" href="#">
                                <label class="acessorios-texto-item">
                                    Placa de Vídeo Gigabyte - GeForce RTX 3050, 8GB R$ 2300,00
                                </label>
                                <img class="acessorios-img-item" src="assets/img/06_img10_carouselAcessorios_img10.webp"
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Botão esquerdo de carrossel -->
            <button class="carousel-control-prev botao-smartphone botao-smartphone-esquerdo" type="button"
                data-bs-target="#acessorios" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
                <span class="visually-hidden">Previous</span>
            </button>
            <!-- Botão direito de carrossel -->
            <button class="carousel-control-next botao-smartphone botao-smartphone-direito" type="button"
                data-bs-target="#acessorios" data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
                <span class="visually-hidden">next</span>
            </button>
            <a href="#" class="container btn btn-dark btn-vermais">Ver todos</a>
        </div>
    </div>
    <!-- Rodapé -->
    <footer class="container-flex rodape-00">
        <div class="container-flex rodape footer">
            <div class="box-rodape-box">
                <div class="box-rodape box-rodape-item1">
                    <a class="link-topo" href="#">
                        <div class="d-flex">
                            <p class="voltar-topo"> Voltar ao topo</p>
                            <i class="bi bi-chevron-up icone-rodape-topo"></i>
                        </div>
                    </a>
                </div>
                <div class="box-rodape box-rodape-item2">
                    <ul class="coluna1-rodape">
                        <li>
                            <a href="#" class="link-item-rodape">
                                <p class="texto-col-rodape" style="font-weight: bold;">Mapa do site</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-item-rodape">
                                <p class="texto-col-rodape">Promoções</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-item-rodape">
                                <p class="texto-col-rodape">FAQ Loja online</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-rodape box-rodape-item3">
                    <ul class="coluna2-rodape">
                        <li>
                            <h6 class="suporte-texto">Precisa de suporte?</h6>
                        </li>
                        <li>
                            <a href="#" class="link-item-rodape">
                                <div class="d-flex">
                                    <i class="bi bi-chat-right-dots-fill icone-rodape icone-suporte"></i>
                                    <p class="texto-col-rodape">Chat online</p>
                                    <i class="bi bi-pencil-square icone-rodape-write"></i>
                                </div>
                            </a>
                        </li>
                        <!-- Item 2 -->
                        <li>
                            <a href="#" class="link-item-rodape">
                                <div class="d-flex">
                                    <i class="bi bi-envelope-fill icone-rodape icone-suporte"></i>
                                    <p class="texto-col-rodape">Email</p>
                                    <i class="bi bi-pencil-square icone-rodape-write"></i>
                                </div>
                            </a>
                        </li>
                        <!-- Item 3 -->
                        <li>
                            <a href="#" class="link-item-rodape">
                                <a href="#" class="link-item-rodape">
                                    <div class="d-flex">
                                        <i class="bi bi-telephone-fill icone-rodape icone-suporte"></i>
                                        <p class="texto-col-rodape">Fale conosco</p>
                                    </div>
                                </a>
                            </a>
                        </li>
                        <!-- Item 4 -->
                        <li>
                            <a href="#" class="link-item-rodape">
                                <div class="d-flex">
                                    <i class="bi bi-display-fill icone-rodape icone-suporte"></i>
                                    <p class="texto-col-rodape">Assistência online</p>
                                    <i class="bi bi-pencil-square icone-rodape-write"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-rodape box-rodape-item4">
                    <ul class="coluna2-rodape">
                        <li>
                            <h6 class="rede-social-2">SIGA-NOS</h6>
                        </li>
                        <li>
                            <a href="#" class="link-item-rodape">
                                <div class="d-flex">
                                    <a href="#">
                                        <i class="bi bi-facebook icone-rodape icone-facebook" title="Facebook"
                                            data-toggle="tooltip"></i>
                                    </a>
                                    <a href="#">
                                        <i class="bi bi-twitter icone-rodape icone-twitter" title="Twitter"
                                            data-toggle="tooltip"></i>
                                    </a>
                                    <a href="#">
                                        <i class="bi bi-youtube icone-rodape icone-youtube" title="YouTube"
                                            data-toggle="tooltip"></i>
                                    </a>
                                    <a href="#">
                                        <i class="bi bi-instagram icone-rodape icone-instagram" title="Instagram"
                                            data-toggle="tooltip"></i>
                                    </a>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-flex parte2-rodape">
            <div class="box2-rodape-box">
                <div class="box-rodape2 box-rodape2-item1">
                    <a class="link-rodape2" href="#">
                        <h6 class="texto-rodape2-1">ACESSIBILIDADE</h6>
                    </a>
                </div>
                <div class="box-rodape2 box-rodape2-item2">
                    <a class="link-rodape2" href="#">
                        <h6 class="texto-rodape2-1">TERMOS E CONDIÇÕES</h6>
                    </a>
                </div>
                <div class="box-rodape2 box-rodape2-item3">
                    <a class="link-rodape2" href="#">
                        <h6 class="texto-rodape2-1">PRIVACIDADE</h6>
                    </a>
                </div>
                <div class="box-rodape2 box-rodape2-item4">
                    <a class="link-rodape2" href="#">
                        <h6 class="texto-rodape2-1">LEGAL</h6>
                    </a>
                </div>
                <div class="box-rodape2 box-rodape2-item5">
                    <h6 class="texto-rodape2-2">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Aut ratione consequuntur laudantium fugit veritatis sed amet
                        atque excepturi laboriosam ullam nisi natus, pariatur voluptates
                        similique quisquam veniam at neque quod, temporibus nihil incidunt,
                        non odio. Est culpa dolores accusantium officiis?
                    </h6>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
